<%- include("../layouts/user/header.ejs") %>

    <div class="pageWrapper">

        <!--Search Form Drawer-->
        <div class="search">
            <div class="search__form">
                <form class="search-bar__form" action="#">
                    <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                    <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..."
                        aria-label="Search" autocomplete="off">
                </form>
                <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
            </div>
        </div>
       

            <!--End Search Form Drawer-->
            <!--Top Header-->
            <%- include("../layouts/user/topnav.ejs") %>

                <!--End Header-->
                    <!--Mobile Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
<div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
        <ul id="MobileNav" class="mobile-nav">
        <li class="lvl1"><a href="/home">Home</a></li>
        <li class="lvl1"><a href="/shop">Shop</a></li>
        <li class="lvl1"><a href="/about">About</a></li>
        </ul>
</div>
<!--End Mobile Menu-->

                <!--Body Content-->
                <div id="page-content">
                    <!--Page Title-->
                    <div class="page section-header text-center">
                        <div class="page-title">
                            <div class="wrapper">
                                <h1 class="page-width">Shopping Cart</h1>
                            </div>
                        </div>
                    </div>
                    <!--End Page Title-->

                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">

                                <table>
                                    <thead id="12" class="cart__row cart__header">
                                        <tr>
                                            <th colspan="2" class="text-center">Product</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-right">Total</th>
                                            <th class="action">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <table class="cart-table">
                                        <tbody>
                                            <% for ( let i=0; i < cartdata.length; i++ ) { %>
                                                <tr class="cart__row border-bottom line1 cart-flex border-top">
                                                    <!-- Product Image -->
                                                    <td class="cart__image-wrapper cart-flex-item">
                                                        <a href="#"><img class="cart__image"
                                                                src="/uploads/<%= cartdata[i].image %>"
                                                                alt="<%= cartdata[i].name %>"></a>
                                                    </td>

                                                    <!-- Product Details -->
                                                    <td class="cart__meta small--text-left cart-flex-item">
                                                        <div class="list-view-item__title">
                                                            <a href="#">
                                                                <%= cartdata[i].name %>
                                                            </a>
                                                        </div>
                                                        <div class="cart__meta-text">
                                                            Weight: <%= cartdata[i].size %><br>
                                                        </div>
                                                    </td>

                                                    <!-- Product Price -->
                                                    <td class="cart__price-wrapper cart-flex-item">
                                                        <span class="money">₹<span class="price-value">
                                                                <%= cartdata[i].price %>
                                                            </span></span>
                                                        <input type="hidden" id="itemid"
                                                            value="<%= cartdata[i].productId %>">
                                                        <input type="hidden" id="itemsize"
                                                            value="<%= cartdata[i].size %>">

                                                    </td>

                                                    <!-- Quantity Update -->
                                                    <td class="cart__update-wrapper cart-flex-item text-right">
                                                        <div class="cart__qty text-center">
                                                            <div class="qtyField">
                                                                <button
                                                                    class="qtyBtn minus btn btn-sm btn-secondary decrease-quantity"
                                                                    data-product-item-id="<%= cartdata[i]._id %>">-</button>
                                                                <input class="cart__qty-input qty" type="text"
                                                                    name="quantity" value="<%= cartdata[i].quantity %>"
                                                                    pattern="[0-9]*">
                                                                <button
                                                                    class="qtyBtn plus btn btn-sm btn-secondary increase-quantity"
                                                                    data-product-item-id="<%= cartdata[i]._id %>">+</button>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <!-- Total Price -->
                                                    <td class="text-right small--hide cart-price">
                                                        <div>₹<span class="total-price-value">
                                                                <%= cartdata[i].price * cartdata[i].quantity %>
                                                            </span></div>
                                                    </td>

                                                    <!-- Remove Item Button -->
                                                    <td class="text-center small--hide">
                                                        <form id="deleteForm" action="/delete-cart?id=<%= cartdata[i]._id %>"
                                                            method="post" style="display: inline;">
                                                            <button type="button"
                                                                class="btn btn--secondary cart__remove"
                                                                title="Remove item"
                                                                style="background: none; border: none; cursor: pointer;"
                                                                 onclick="confirmDelete()">
                                                                <i class="icon icon anm anm-times-l"></i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                
                                                <%    }   %>
                                                
                                        </tbody>

                                        <tfoot>

                                            <tr>
                                                 <!-- Continue Shopping Button -->
                                                <td colspan="3" class="text-left">
                                                    <a href="/shop"
                                                        class="btn btn-secondary btn--small cart-continue">Continue
                                                        Shopping</a>
                                                </td>
                                                <!-- Clear Cart and Update Cart Buttons -->
                                            </tr>

                                        </tfoot>
                                    </table>
                            </div>

                            <div class="container mt-4">
                                <div class="row">
                                    <!-- Your main content goes here -->
                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                        <!-- Main content -->
                                    </div>
                                    <!-- Checkout section moved to the right -->
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 order-md-2 order-lg-2 cart__footer">
                                        <div class="solid-border">
                                            <!-- <div class="row border-bottom pb-2">
                                                <span class="col-12 col-sm-6 cart__subtotal-title">Price</span>
                                                <span class="col-12 col-sm-6 text-right"><span
                                                        class="money">₹</span></span>
                                            </div> -->
                                            <div class="row border-bottom pb-2 pt-2">
                                                <span class="col-12 col-sm-6 cart__subtotal-title">Discount</span>
                                                <span class="col-12 col-sm-6 text-right">0</span>
                                            </div>
                                            <!-- <div class="row border-bottom pb-2 pt-2">
                                                <span class="col-12 col-sm-6 cart__subtotal-title">Delivery charges
                                                </span>
                                                <span class="col-12 col-sm-6 text-right">0</span>
                                            </div> -->
                                            <div class="row border-bottom pb-2 pt-2">
                                                <span class="col-12 col-sm-6 cart__subtotal-title">
                                                    <strong>Grand Total</strong>
                                                </span>
                                                <span
                                                    class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right">
                                                    <span class="money grand-total">₹0.00</span>
                                                </span>
                                            </div>
                                            <input type="button" name="checkout" id="cartCheckout"
                                                  class="btn btn--small-wide checkout" value="Proceed To Checkout"
                                                  onclick="window.location.href='/checkout'">
                                                 
                                            <div class="paymnet-img"><img src="assets/images/payment-img.jpg"

                                                    alt="Payment"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

    </div>
    </div>

    </div>
    <!--End Body Content-->

    <!--Footer-->
    <footer id="footer">
        <div class="newsletter-section">
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">
                        <div class="display-table">
                            <div class="display-table-cell footer-newsletter">
                                <div class="section-header text-center">
                                    <label class="h2"><span>sign up for </span>newsletter</label>
                                </div>
                                <form action="#" method="post">
                                    <div class="input-group">
                                        <input type="email" class="input-group__field newsletter__input" name="EMAIL"
                                            value="" placeholder="Email address" required="">
                                        <span class="input-group__btn">
                                            <button type="submit" class="btn newsletter__submit" name="commit"
                                                id="Subscribe"><span
                                                    class="newsletter__submit-text--large">Subscribe</span></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end align-items-center">
                        <div class="footer-social">
                            <ul class="list--inline site-footer__social-icons social-icons">
                                <li><a class="social-icons__link" href="#" target="_blank"
                                        title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i
                                            class="icon icon-facebook"></i></a></li>

                                <li><a class="social-icons__link" href="#" target="_blank"
                                        title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i
                                            class="icon icon-twitter"></i> <span
                                            class="icon__fallback-text">Twitter</span></a></li>

                                <li><a class="social-icons__link" href="#" target="_blank"
                                        title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i
                                            class="icon icon-pinterest"></i> <span
                                            class="icon__fallback-text">Pinterest</span></a></li>

                                <li><a class="social-icons__link" href="#" target="_blank"
                                        title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i
                                            class="icon icon-instagram"></i> <span
                                            class="icon__fallback-text">Instagram</span></a></li>

                                <li><a class="social-icons__link" href="#" target="_blank"
                                        title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i
                                            class="icon icon-tumblr-alt"></i> <span
                                            class="icon__fallback-text">Tumblr</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank"
                                        title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i
                                            class="icon icon-youtube"></i> <span
                                            class="icon__fallback-text">YouTube</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank"
                                        title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i
                                            class="icon icon-vimeo-alt"></i> <span
                                            class="icon__fallback-text">Vimeo</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer">
            <div class="container">
                <!--Footer Links-->
                <div class="footer-top">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                            <h4 class="h4">Quick Shop</h4>
                            <ul>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Kids</a></li>
                                <li><a href="#">Sportswear</a></li>
                                <li><a href="#">Sale</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                            <h4 class="h4">Informations</h4>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Terms &amp; condition</a></li>
                                <li><a href="#">My Account</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                            <h4 class="h4">Customer Services</h4>
                            <ul>
                                <li><a href="#">Request Personal Data</a></li>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Support Center</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                            <h4 class="h4">Contact Us</h4>
                            <ul class="addressFooter">
                                <li><i class="icon anm anm-map-marker-al"></i>
                                    <p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p>
                                </li>
                                <li class="phone"><i class="icon anm anm-phone-s"></i>
                                    <p>(440) 000 000 0000</p>
                                </li>
                                <li class="email"><i class="icon anm anm-envelope-l"></i>
                                    <p>sales@yousite.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Footer Links-->
                <hr>
                <div class="footer-bottom">
                    <div class="row">
                        <!--Footer Copyright-->
                        <div
                            class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left">
                            <span></span> <a href="templateshub.net">Templates Hub</a>
                        </div>
                        <!--End Footer Copyright-->
                        <!--Footer Payment Icon-->
                        <div
                            class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                            <ul class="payment-icons list--inline">
                                <li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <!--End Footer Payment Icon-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->

    <!-- Including Jquery -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="assets/js/vendor/jquery.cookie.js"></script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>


    <!-- Including Javascript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/lazysizes.js"></script>
    <script src="assets/js/main.js"></script>
    </div>
    </body>
    </html>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const minusBtns = document.querySelectorAll(".qtyBtn.minus");
            const plusBtns = document.querySelectorAll(".qtyBtn.plus");
            const qtyInputs = document.querySelectorAll(".cart__qty-input");
            const totalPrices = document.querySelectorAll(".total-price-value");
            const priceValues = document.querySelectorAll(".price-value");

            // Function to handle quantity change
            function handleQuantityChange(qtyInput, productId, index, previousQty) {
                let qtyValue = parseInt(qtyInput.value, 10);

                if (qtyValue >= 1 && qtyValue <= 5) {
                    updateQuantityOnServer(productId, qtyInput.value, index, previousQty);
                }
            }

            // Function to update quantity on the server
            function updateQuantityOnServer(productId, quantity, index, previousQty) {
                const itemid = document.getElementById("itemid").value;
                const itemsize = document.getElementById("itemsize").value;

                fetch('/update-cart-quantity', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId: productId, quantity: quantity, itemid, itemsize }),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                icon: 'success',
                                text: 'Quantity updated successfully!',
                                toast: true,
                                position: 'top-right',
                                showConfirmButton: false,
                                timerProgressBar: true,
                                timer: 1250
                            });

                            // Update the total price for the current item
                            const pricePerItem = parseFloat(priceValues[index].textContent);
                            totalPrices[index].textContent = (pricePerItem * quantity).toFixed(2);

                            // Update the grand total
                            updateGrandTotal();

                            // Re-enable the plus button if stock is available
                            plusBtns[index].disabled = false;

                        } else if (data.outOfStock) {
                            Swal.fire({
                                icon: 'error',
                                text: data.message,  // Out-of-stock message from the server
                                toast: true,
                                position: 'top-right',
                                showConfirmButton: false,
                                timerProgressBar: true,
                                timer: 1250
                            });

                            // Revert to the previous quantity since it's out of stock
                            qtyInputs[index].value = previousQty;

                            // Disable the plus button to prevent further increments
                            plusBtns[index].disabled = true;
                        } else {
                            Swal.fire({
                                icon: 'error',
                                text: data.message,
                                toast: true,
                                position: 'top-right',
                                showConfirmButton: false,
                                timerProgressBar: true,
                                timer: 1250
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error updating quantity:', error);
                        Swal.fire({
                            icon: 'error',
                            text: 'An error occurred. Please try again.',
                            toast: true,
                            position: 'top-right',
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 1250
                        });

                        // Revert to the previous quantity in case of an error
                        qtyInputs[index].value = previousQty;
                    });
            }

            // Attach event listeners to plus buttons
            plusBtns.forEach((plusBtn, index) => {
                plusBtn.addEventListener("click", function () {
                    const qtyInput = qtyInputs[index];
                    let currentQty = parseInt(qtyInput.value, 10);
                    const productId = plusBtn.getAttribute("data-product-item-id");

                    if (currentQty < 5) {
                        const previousQty = currentQty; // Store the previous quantity
                        qtyInput.value = currentQty + 1;
                        handleQuantityChange(qtyInput, productId, index, previousQty);
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: 'The maximum quantity limit is 5.',
                            toast: true,
                            position: 'top-right',
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 1500
                        });
                    }
                });
            });

            // Attach event listeners to minus buttons
            minusBtns.forEach((minusBtn, index) => {
                minusBtn.addEventListener("click", function () {
                    const qtyInput = qtyInputs[index];
                    let currentQty = parseInt(qtyInput.value, 10);
                    const productId = minusBtn.getAttribute("data-product-item-id");

                    if (currentQty > 1) {
                        const previousQty = currentQty; // Store the previous quantity
                        qtyInput.value = currentQty - 1;
                        handleQuantityChange(qtyInput, productId, index, previousQty);
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: 'The minimum quantity limit is 1.',
                            toast: true,
                            position: 'top-right',
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 1500
                        });
                    }
                });
            });

            // Attach event listeners to quantity inputs
            qtyInputs.forEach((qtyInput, index) => {
                qtyInput.addEventListener("input", function () {
                    const productId = plusBtns[index].getAttribute("data-product-item-id");
                    const previousQty = qtyInput.defaultValue; // Original quantity as the previous value
                    handleQuantityChange(qtyInput, productId, index, previousQty);
                });
            });

            // Function to update the grand total
            function updateGrandTotal() {
                const grandTotalElement = document.querySelector('.grand-total');

                // Calculate the grand total
                let total = 0;
                totalPrices.forEach(item => {
                    total += parseFloat(item.textContent);
                });

                // Update the grand total element if it exists
                if (grandTotalElement) {
                    grandTotalElement.textContent = `₹${total.toFixed(2)}`;
                } else {
                    console.error("Grand total element not found!");
                }
            }

            // Call updateGrandTotal on page load
            updateGrandTotal();
        });


        document.addEventListener("DOMContentLoaded", function () {
    const checkoutButton = document.getElementById("cartCheckout");
    const cartTableBody = document.querySelector("tbody");

    // Check if cart is empty
    function isCartEmpty() {
        return cartTableBody.children.length === 0; // No rows in the cart table
    }

    // Disable the checkout button if the cart is empty
    function updateCheckoutButton() {
        if (isCartEmpty()) {
            checkoutButton.disabled = true;
            checkoutButton.style.opacity = "0.5";
            checkoutButton.style.cursor = "not-allowed";
        } else {
            checkoutButton.disabled = false;
            checkoutButton.style.opacity = "1";
            checkoutButton.style.cursor = "pointer";
        }
    }

    // Initial check on page load
    updateCheckoutButton();

    // Example: Recheck on any cart update (if using dynamic cart updates via AJAX)
    document.addEventListener("cartUpdated", updateCheckoutButton);
});








    </script>

<script>
    function confirmDelete() {
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to remove this item from your cart?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById(`deleteForm`).submit();
            }
        });
    }
</script>
    <% if (message) { %>
        <script>
            Swal.fire({
                icon: '<%= message.icon %>',
                text: '<%= message.text %>',
                toast: true,
                position: 'top-right',
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 1000
            });
        </script>
        <% } %>
