<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <style>
    body { font-family: Arial, sans-serif; margin: 20px; }
    h1 { text-align: center; }
    .invoice-header, .invoice-footer { text-align: center; margin-top: 10px; }
    .order-details, .shipping-details { margin-bottom: 20px; }
    table { width: 100%; border-collapse: collapse; margin-top: 20px; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f4f4f4; }
  </style>
</head>
<body>
  <div class="invoice-header">
    <h1>Invoice</h1>
    <p>Invoice ID: <%= order.orderId %></p>
    <p>Order Date: <%= new Date(order.createdAt).toLocaleDateString() %></p>
  </div>

  <div class="shipping-details">
    <h3>Shipping Details</h3>
    <p>
      <strong>Name:</strong> <%= order.shipping_address.Fullname %><br>
      <strong>Address:</strong> <%= order.shipping_address.Address %>, <%= order.shipping_address.city %>, 
      <%= order.shipping_address.State %>, <%= order.shipping_address.Country %>, 
      Pincode: <%= order.shipping_address.pinCode %><br>
      <strong>Phone:</strong> <%= order.shipping_address.phone %>
    </p>
  </div>

  <div class="order-details">
    <h3>Order Items</h3>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Size</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>order status</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% let totalAmount = 0; %>
        <% order.items.forEach(item => {
          let itemTotal = item.price * item.quantity;
          totalAmount += itemTotal;
           %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.size %></td>
            <td>₹<%= item.price %></td>
            <td><%= item.quantity %></td>
            <td><%= item.order_status %></td>
            <td>₹<%= (item.price * item.quantity).toFixed(2) %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <p>Total Discount: ₹<%= (totalAmount - order.total_price).toFixed(2) %></p>

    <p><strong>Total Price:</strong> ₹<%= order.total_price %></p>
  </div>

  <div class="invoice-footer">
    <p>Thank you for shopping with us!</p>
  </div>
</body>
</html>
