<!DOCTYPE html>
<html>
<head>
    <title>Complete Your Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h1>Complete Your Payment</h1>
    <div id="payment-button"></div>

    <script>
        var options = {
            "key": "<%= key_id %>", 
            "amount": "<%= razorpayOrder.amount %>", 
            "currency": "INR",
            "name": "Dry delicious",
            "description": "Order Payment",
            "image": "https://your-logo-url.com/logo.png",
            "order_id": "<%= razorpayOrder.id %>",
            "handler": function (response) {
                
                fetch('/verify-payment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_order_id: response.razorpay_order_id,
                        razorpay_signature: response.razorpay_signature
                    })
                }).then(res => {
                    if (res.ok) {
                        Swal.fire({
                            icon: 'success',
                            text: 'Payment successful!',
                            toast: true,
                            position: 'top-right',
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 2000
                        }).then(() => {
                            window.location.href = '/order-details?orderId=<%= order.orderId %>';
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: 'Payment verification failed.',
                            toast: true,
                            position: 'top-right',
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 2000
                        }).then(() => {
                            window.location.href = '/orders'; 
                        });
                    }
                }).catch(() => {
                    Swal.fire({
                        icon: 'error',
                        text: 'An error occurred while verifying the payment. Redirecting to shop...',
                        toast: true,
                        position: 'top-right',
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 2000
                    }).then(() => {
                        window.location.href = '/orders'; 
                    });
                });
            },
            "prefill": {
                "name": "<%= order.shipping_address.Fullname %>",
                "email": "user@example.com", 
                "contact": "<%= order.shipping_address.phone %>"
            },
            "notes": {
                "address": "<%= order.shipping_address.Address %>"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        
        
        window.onload = function() {
            rzp1.open();
        };
    
        
        rzp1.on('payment.failed', function(response) {
            Swal.fire({
                icon: 'error',
                text: 'Payment failed.',
                toast: true,
                position: 'top-right',
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 2000
            }).then(() => {
                window.location.href = '/orders'; 
            });
        });
    </script>
    
</body>
</html>